nav {
    background-color: #333;
    position: fixed;
    z-index: 100;
    width: 100%;
    padding: 5px 0px;
}

nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .container .logo {
    width: 5%;
}

nav .container .logo img {
    width: 100%;
}

nav .container .burger {
    width: 50px;
    height: 40px;
    border: 2px solid var(--main-color);
    outline: none;
    background-color: transparent;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
}

nav .container .burger span {
    display: block;
    width: 25px;
    height: 2px;
    background-color: var(--main-color);
}

nav .container .burger span:nth-of-type(2) {
    margin: 7.5px 0px;
}

nav .container .links ul {
    display: flex;
    list-style: none;
}

nav .container .links ul li:not(:last-child) {
    margin-right: 10px;
}

nav .container .links ul li a {
    color: #fff;
    text-decoration: none;
    position: relative;
}

nav .container .links ul li a:after {
    content: "";
    display: block;
    width: 0%;
    height: 2px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--main-color);
    transition-duration: 0.5s;
}

nav .container .links ul li a:hover:after,
nav .container .links ul li.active a:after {
    width: 100%;
}

nav .container .links ul li.active a {
    color: var(--main-color);
}

header {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../images/slider-01.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

header::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

header .content {
    text-align: center;
    color: #fff;
    position: relative;
    z-index: 2;
}

header .content h4 {
    font-size: 40px;
    font-size: clamp(1.5rem, 3vw, 2.5rem);
    font-weight: 300;
}

header .content h1 {
    font-size: 80px; /* FallBack */
    font-size: clamp(2rem, 6vw, 5rem);
    color: var(--main-color);
    margin-block: 10px;
}

header .content p {
    font-size: 20px;
    font-size: clamp(1rem, 2vw, 1.5rem);
}

header .content p::after {
    content: "";
    animation-name: animate_1;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: linear;
}

header .shape {
    display: block;
    width: 25px;
    height: 55px;
    border: 2px solid var(--main-color);
    position: absolute;
    left: 50%;
    bottom: 10%;
    transform: translateX(-50%);
    border-radius: 30px;
    z-index: 2;
    overflow: hidden;
}

header .shape::after {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    background-color: var(--main-color);
    border-radius: 100%;
    position: absolute;
    top: -25%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    animation-name: animate_2;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-fill-mode: linear;
}

#About .container {
    display: flex;
}

#About .container > div[class^="part_"] {
    width: 50%;
}

#About .container .part_1 .frame {
    border: 5px solid var(--main-color);
    width: 450px;
    border-radius: 10px;
    margin: auto;
}

#About .container .part_1 .frame .img {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    top: 20px;
    left: 20px;
}

#About .container .part_1 .frame .img img {
    width: 100%;
}

#About .container .part_1 .frame .img .layout {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 1s;
}

#About .container .part_1 .frame .img:hover .layout {
    top: 0%;
}

#About .container .part_1 .frame .img .layout ul {
    list-style: none;
    display: flex;
}

#About .container .part_1 .frame .img .layout ul li {
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transform: translateY(-30px);
    opacity: 0;
}

#About .container .part_1 .frame .img:hover .layout ul li:nth-of-type(1) {
    transition-delay: 1s;
}

#About .container .part_1 .frame .img:hover .layout ul li:nth-of-type(2) {
    transition-delay: 1.2s;
}

#About .container .part_1 .frame .img:hover .layout ul li:nth-of-type(3) {
    transition-delay: 1.4s;
}

#About .container .part_1 .frame .img:hover .layout ul li:nth-of-type(4) {
    transition-delay: 1.6s;
}

#About .container .part_1 .frame .img:hover .layout ul li {
    transition-duration: 1s;
    transform: translateY(0px);
    opacity: 1;
}

#About .container .part_1 .frame .img .layout ul li:nth-of-type(1) i {
    color: #1877f2;
}
#About .container .part_1 .frame .img .layout ul li:nth-of-type(2) i {
    color: #e4405f;
}
#About .container .part_1 .frame .img .layout ul li:nth-of-type(3) i {
    color: #1da1f2;
}
#About .container .part_1 .frame .img .layout ul li:nth-of-type(4) i {
    color: #131418;
}

#About .container .part_1 .frame .img .layout ul li:not(:last-child) {
    margin-right: 10px;
}

#About .container .part_2 {
    color: #fff;
}

#About .container .part_2 h2 {
    font-size: 30px;
    text-transform: uppercase;
    border-left: 5px solid var(--main-color);
    padding-left: 10px;
}

#About .container .part_2 hr {
    border-style: dashed;
    border-color: #fff;
}

#About .container .part_2 > *:not(:last-child) {
    margin-bottom: 20px;
}

#About .container .part_2 .row {
    display: flex;
    flex-wrap: wrap;
}

#About .container .part_2 .row .col {
    width: 50%;
    display: flex;
}

#About .container .part_2 .row .col:not(:last-child, :nth-of-type(5)) {
    margin-bottom: 20px;
}

#About .container .part_2 .row .col strong {
    margin-right: 5px;
}

#About .container .part_2 .buttons button {
    background-color: transparent;
    border: 2px solid var(--main-color);
    border-radius: 10px;
    color: var(--main-color);
    padding: 10px 20px;
    transition-duration: 0.5s;
    cursor: pointer;
}

#About .container .part_2 .buttons button:hover {
    background-color: var(--main-color);
    color: #fff;
}

#About .container .part_2 .buttons button:first-child {
    margin-right: 10px;
}
