@media (max-width: 1300px) {
    nav .container {
        position: relative;
    }

    nav .container .logo {
        width: 15%;
    }

    nav .container .burger {
        display: flex;
    }

    nav .container .burger:focus + .links {
        padding: 20px;
        height: 254px;
    }

    nav .container .links {
        display: block;
        position: absolute;
        top: 125%;
        background-color: #333;
        width: 250px;
        text-align: center;
        border-radius: 10px;
        padding: 0px;
        left: 50%;
        transform: translateX(-50%);
        height: 0px;
        overflow: hidden;
        transition-duration: 1s;
    }

    nav .container .links ul {
        flex-direction: column;
    }

    nav .container .links ul li:not(:last-child) {
        margin-right: 0px;
        margin-bottom: 20px;
    }

    #About .container {
        flex-wrap: wrap;
    }

    #About .container > div[class^="part_"] {
        width: 100%;
    }

    #About .container .part_1 .frame {
        width: 250px;
        margin-bottom: 60px;
    }

    #About .container .part_1 .frame .img .layout ul li {
        width: 30px;
        height: 30px;
        font-size: 14px;
    }

    #About .container .part_2 .row .col {
        width: 100%;
        display: flex;
    }

    #About .container .part_2 .row .col {
        margin-bottom: 20px;
    }
}

@media (min-width: 371px) and (max-width: 1300px) {
}

@media (min-width: 577px) and (max-width: 1300px) {
    #About .container .part_1 .frame {
        width: 350px;
    }

    #About .container .part_1 .frame .img .layout ul li {
        width: 40px;
        height: 40px;
        font-size: 16px;
    }
}

@media (min-width: 769px) and (max-width: 1300px) {
    nav .container .logo {
        width: 10%;
    }

    #About .container > div[class^="part_"] {
        width: 50%;
    }

    #About .container .part_1 .frame {
        width: 75%;
    }

    #About .container .part_2 .row .col {
        width: 50%;
        font-size: 11px;
    }
}

@media (min-width: 992px) and (max-width: 1300px) {
    nav .container .logo {
        width: 8%;
    }

    #About .container .part_2 .row .col {
        width: 50%;
        font-size: 15px;
    }
}

@media (min-width: 1181px) and (max-width: 1300px) {
}
